*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    user-select: none;
}
:root {
    --light: #bd8766;
    --lightMid: #A6B63D;
    --darkMid: #202020;
    --dark: #1d1915;
    /*--dark: #242622;
    --darkMid: #272925;*/
    font-size: 62.5%;
    /*thème chocolat
    #241e16
    #292219
    */
    /*thème menthe
    --darkMid: #375248;
    --dark: #375a4d;
    #f3e9e0
    */
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

.flexCentered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightText{
    color: var(--light);
}



body{
    max-width: 100vw;
    background-color: var(--dark);
    position: relative;
    padding: 0% 10%;
}

.funkySvg{
    height: 100%;
    position: absolute;
    right: 0;
}
.funkyPath{
    stroke: #bb5436;
    fill: none;
    filter: drop-shadow(0 0 0px rgb(138, 110, 91));
    animation: 1000ms linear pulse infinite alternate;
}
@keyframes pulse {
    from{filter:drop-shadow(0 0 3px rgb(138, 110, 91));}
    to{filter:drop-shadow(0 0 5px rgb(138, 110, 91));}   
}
.logoTradBox{
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: -1;
    display: none;
    transition: 300ms ease fadeIn;
}
@keyframes fadeIn {
    from{opacity: 0}
    top{opacity: 1}
}
.logoTrad{
    width: 50px;
    animation: 3000ms linear spin infinite;
}
@keyframes spin{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}


.menuPanel{
    position: fixed;
    top: 0;
    right: 10%;

}
.menuPanelOpen{
    position: fixed;
    bottom: 0;
    right: 0%;

}
.menuText{
    font-size: min(40px, 10vw);
    line-height: 0.7em;
}
.bigLogoBox{
    padding-top: 10%;
    position: absolute;
    z-index: -2;
    width: 80%;
    top: 0px;
    filter: blur(0.5px);
}

.pathBigLogo{
    fill: var(--darkMid);
    animation:2000ms linear blurLoop alternate infinite;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}

/*47.41 351.31*/
/* top section */

.topSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.topTitleBox{
    height: 80%;
}
.topTitle{
    height: 100%;
    filter: blur(0.5px);
    animation: 1000ms ease-out slideIn;
    overflow: visible;
}
.topTitlePaths{
    fill: white;
    /*filter: drop-shadow(0px 0px 5px rgb(44, 44, 44));*/
    filter: drop-shadow(0px 0px 5px black);
}
@keyframes slideIn{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}



.subtitleBox{
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
}
.subtitle{
    font-size: max(2vw, 16px);
    font-weight: 100;
    padding: 0px 0px 0px 50px;
    text-shadow: 0 0 8px black;
    filter: blur(0.4px);
    animation: 1000ms ease-out blurIn;
}
@keyframes blurIn {
    from{
        filter: blur(100px);
    }
    to{
        filter: blur(0px);
    }
}



.motoSection{
    width: 100%;
    padding: 15vw 0px 22vw 0px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}
.moto{
    font-size: max(2.5vw, 16px);
    font-weight: 100;
    text-align: end;
    text-shadow: 0 0 8px black;
    filter: blur(0px);
    animation: 1000ms ease-out blurIn;
}
.whoSection{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.photoEricBox{
    width: 100%;
    position: relative;
    overflow: visible;
}
.photoEric{
    width: 100%;
    box-shadow: 0 0 20px;
    position: relative;
}
.ericName{
    font-size: max(2vw, 14px);
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
}
.jobsBox{
    font-size: max(1.8vw, 13px);
    font-weight: 100;
    position: absolute;
    bottom: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
}

.sectionInfos{
    width: 100%;
    padding: 15vw 20%;
}
.informations{
    font-size: max(2vw, 12px);
    font-weight: 100;
}
.footer{
    width: 100%;
    padding-bottom: 8vw;
}
.logoBox{
    width: min(25%, 200px);
    margin: auto;
    overflow: visible;
}
.pathLogo{
    fill: none;
    stroke: rgb(255, 219, 190);
    filter: drop-shadow(0 0 30px rgb(255, 146, 56));
    stroke-width:0.25;
}
