*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    user-select: none;
}
:root {
    --light: #f3e9e0;
    --lightMid: #A6B63D;
    --darkMid: #375248;
    --dark: #375a4d;
    /*--dark: #242622;
    --darkMid: #272925;*/
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

.flexCentered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightText{
    color: var(--light);
}



body{
    max-width: 100vw;
    background-color: var(--dark);
    position: relative;
}
.menuPanel{
    position: fixed;
    top: 0;
    right: 10%;
    border: 1px solid red;
}
.menuPanelOpen{
    position: fixed;
    bottom: 0;
    right: 0%;
    border: 1px solid red;
}
.menuText{
    font-size: min(40px, 10vw);
    line-height: 0.7em;
}
.bigLogoBox{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0px;
    filter: blur(2px);
}
.pathBigLogo{
    fill: var(--darkMid);
    animation:2000ms linear blurLoop alternate infinite;
}
@keyframes blurLoop {
    from{
        
    }
    to{
        
    }
}

/* top section */

.topSection{
    width: 100%;
    height: 100vh;
    padding-left: 10vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.topTitleBox{
    height: 80%;
    transform: rotateZ(180deg);
}
.topTitle{
    font-weight: 200;
    line-height:0.8em;
    writing-mode: vertical-rl;
    text-shadow: 0 0 10px black;
    filter: blur(0.5px);
    animation: 1000ms ease-out slideIn;
}
@keyframes slideIn{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}



.subtitleBox{
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
}
.subtitle{
    font-size: 2rem;
    font-weight: 100;
    padding: 0px 0px 5px 25px;
    text-shadow: 0 0 15px rgb(48, 48, 48);
    filter: blur(0.4px);
    animation: 1000ms ease-out blurIn;
}
@keyframes blurIn {
    from{
        filter: blur(100px);
    }
    to{
        filter: blur(0px);
    }
}



.motoSection{
    width: 100%;
    height: 60vh;
    padding: 0 10%;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.moto{
    font-size: max(2rem, 2.5vw);
    font-weight: 100;
    text-align: end;
    text-shadow: 0 0 15px rgb(48, 48, 48);
    filter: blur(0.5px);
}
.whoSection{
    width: 100%;
    padding: 10vh 0rem;
    display: flex;
    justify-content: center;
}
.photoEricBox{
    width: 90%;
    position: relative;
    overflow: visible;
}
.photoEric{
    width: 100%;
    box-shadow: 0 0 15px;
}
.ericName{
    font-weight: 100;
    padding: 1rem 0rem;
    position: absolute;
    top: 0;
    left: 2vw;
}
.jobs{
    font-size: max(1rem, 2vw);
    font-weight: 100;
    position: absolute;
    bottom: -5%;
    left: 2vw;
}
